@model List<Groups>

@using LocalMealManagement.Models

<div class="row">
    <div class="col-md-4">
        <h5>Group name</h5>
    </div>
    <div class="col-md-4">
        <h5>Action</h5>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row board" style="border-radius:10px; border:1px solid; z-index:1200; margin-bottom:2px; background:white;">
        <div class="col-md-4">
            @item.GroupName
        </div>
        <div class="col-md-7">
            <a asp-controller="GroupAdministration" asp-action="SpecificGroupTask" asp-route-groupId="@item.GroupId" class="btn btn-primary">Manage group</a>
            <a asp-controller="ManageGroup" asp-action="AddMemberInGroup" asp-route-groupId="@item.GroupId" class="btn btn-primary">Add member</a>
            <a asp-controller="ManageGroup" asp-action="MembersInGroup" asp-route-groupId="@item.GroupId" class="btn btn-primary">Members</a>
            <a asp-controller="GroupMessage" asp-action="GroupChat" asp-route-groupId="@item.GroupId" class="btn btn-primary">Group chat</a>
        </div>
    </div>
}