@model List<LocalMealManagement.ViewModel.SubGroupMonthlyViewModel>

@using LocalMealManagement.Services
@inject ISubGroupRepository _subGroupRepository

@{
    var subGroupId = "";
    DateTime date = new DateTime(2020, 1, 1);
}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="~/js/MealDetails.js"></script>

<div class="custom-board">

    <div class="row custom-board">
        <div class="col-md-3">
            Meal status
        </div>
        <div class="col-md-3">
            Date
        </div>
        <div class="col-md-6">
            Action
        </div>
    </div>
    <hr />
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        subGroupId = Model[i].SubGroupId;
        date = Model[i].CurrentDay;
        var checkMeal = _subGroupRepository.checkMeal(subGroupId, User.Identity.Name, date);
        <div class="row shadow board custom-board" style="margin:10px 0px;">
            <div class="col-md-3">
                @if (checkMeal)
                {
                    <input type="checkbox" checked style="cursor:not-allowed" onclick="return false;"/>
                }
                else
                {
                    <input type="checkbox" style="cursor:not-allowed" onclick="return false;"/>
                }
            </div>
            <div class="col-md-3">
                @item.CurrentDay.ToString("dd/MM/yyyy")
            </div>
            <div class="col-md-6">
                @if (!checkMeal)
                {
                    <a asp-controller="GroupAdministration" asp-action="AddMeals" asp-route-groupId="@ViewBag.groupId" asp-route-subGroupId="@item.SubGroupId" asp-route-date="@Model[i].CurrentDay.Date" class="card-link"><i class="fa fa-plus" aria-hidden="true" title="Add Meal"></i></a>
                }
                else
                {
                    <a asp-controller="GroupAdministration" asp-action="UpdateMeals" asp-route-groupId="@ViewBag.groupId" asp-route-subGroupId="@item.SubGroupId" asp-route-date="@Model[i].CurrentDay.Date" class="card-link"><i class="fas fa-edit" title="Update Meal"></i></a>
                }
                @*<a asp-controller="GroupAdministration" asp-action="ShowMeal" asp-route-groupId="@ViewBag.groupId" asp-route-subGroupId="@item.SubGroupId" asp-route-date="@Model[i].CurrentDay.Date" class="card-link"><i class="fas fa-eye" title="Show meal"></i></a>*@
                <a href="javascript:show('$@item.SubGroupId','$@ViewBag.groupId','$@Model[i].CurrentDay')" class="card-link"><i class="fas fa-eye" title="Show meal"></i></a>
                <a asp-controller="GroupAdministration" asp-action="SubGroupsAllUsersMeals" asp-route-groupId="@ViewBag.groupId" asp-route-subGroupId="@item.SubGroupId" asp-route-date="@Model[i].CurrentDay.Date" class="card-link"><i class="fas fa-list" title="Meal List"></i></a>
            </div>

        </div>
    }
</div>

